version: '3.8'

services:
  service1:
    build: ./service1
    container_name: service1
    ports:
      - "80:6000"
    depends_on:
      - service2

  service2:
    build: ./service2
    container_name: service2
    ports:
      - "6001:6001"
