version: '3.8'

services:
  service1:
    build: ./service1
    container_name: service1
    ports:
      - "6000:6000"

  service2:
    build: ./service2
    container_name: service2
    ports:
      - "5001:5001"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - service1
      - service2
